.rubbish_icon{
  font-size: 150rpx;
}
.RubbishIconNav{
  height: 100%;
}
.RubbishIconNav Swiper{
  background: linear-gradient(to bottom, #d3f9d8,#ffffff );
  height: 170rpx;
  padding-top: 10rpx;
  margin-bottom: 10rpx;
}
.rubbish_card_icon{
  font-size: 100rpx;
  padding-right: 10rpx;
}
.card_content_container{
  min-height: 100rpx;
  font-size: 30rpx;
  font-style: bold;
  font-family:"Times New Roman", Times, serif;
}
.active{
  color: #748ffc;
}

